/*! Pages */
// ==========================================================================

/* Home page sections */
#sub-headers .column div {
    border: 1px solid @black;
    padding: 50px 40px;
}

#sub-headers h3 {
    text-transform: uppercase;
    font-size: 18px;
    margin: 0;
    text-align: center;
}

.featured .owl-carousel {
    max-width: 1140px;
}

@media (max-width: 1025px) {
    .featured .owl-carousel {
        max-width: 945px;
    }
}

@media (max-width: 769px) {
    .featured .owl-carousel {
        max-width: 728px;
    }
}

.product-name {
    display: flex;
    text-transform: uppercase;
    font-size: 14px;
    padding: 0;
}

.product-name a {
    padding: 7px 0;
    width: 100%;
}

.featured-product .buy-btn {
    position: absolute;
    bottom: 15%;
    left: 0;
    padding: 7px 14px;
    font-weight: 700;
    letter-spacing: 1px;
    color: white;
    background-color: #DA291C;
    opacity: 0;
}

.featured-product:hover .buy-btn {
    opacity: 1;
}


/* Blog section */
.grid-container {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 200px);
    background-color: #fff;
    grid-template-areas: 
        "a a b b"
        "a a c c";
}

.a {
    grid-area: a;
}
.b {
    grid-area: b;
}
.c {
    grid-area: c;
}

.grid-box {
    background-color: #444;
    color: #fff;
    padding: 0;
    position: relative;
    overflow: hidden;
    width: 100%;
}

.grid-box h3 {
    position: absolute;
    margin: 0;
    padding: 7px 14px;
    background-color: #f0ecec;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    z-index: 3;
    opacity: 1;
    transition: all 0.4s;
}

.grid-box:hover h3 {
    opacity: 0;
}

.grid-box img {
    max-width: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-backface-visibility: hidden;
}

.grid-box:hover img {
    -moz-transform: scale(1.02);
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
}


/*.grid-container2 {
    display: grid;
    grid-gap: 60px;
    grid-template-columns: 1fr 1fr 2fr;
    background-color: #fff;
    color: #444;
}

.box2 {
    background-color: #444;
    color: #fff;
    padding: 0;
    font-size: 150%;

}

.a2 {
    grid-column: 1 / 3;
    grid-row: 1;
}
.b2 {
    grid-column: 3 ;
    grid-row: 1 / 3;
}
.c2 {
    grid-column: 1 ;
    grid-row: 2 ;
}
.d2 {
    grid-column: 2;
    grid-row: 2;
}

.grid-container2 img {
    display: block;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}



.grid-container3 {
    display: grid;
    grid-gap: 40px;
		grid-template-columns: 1fr 1fr 3fr;
		background-color: #fff;
		color: #444;
        grid-template-areas: 
            "a a b b"
            "c d b b"
	}

	.box3 {
		background-color: #444;
		color: #fff;
		padding: 0;
		font-size: 150%;

	}

	.a3 {
		grid-area: a;
	}
	.b3 {
		grid-area: b;
	}
	.c3 {
		grid-area: c;
	}
	.d3 {
		grid-area: d;
	}
    .e3 {
		grid-area: e;
	}
    .f3 {
		grid-area: f;
	}

.grid-container3 img {
    display: block;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}*/
