/*! Shop */
// ==========================================================================

.shop-grid {
    display: grid;
    grid-gap: 60px 20px;
    grid-template-columns: repeat(auto-fit, minmax(268px, 1fr));
    //grid-template-rows: repeat(2, 100px); 
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.shop-grid li {
    display: flex;
    flex-direction: column;
}

@media (max-width: 640px) {
    .shop-grid {
        grid-gap: 60px 10px;
        grid-template-columns: repeat(auto-fit, minmax(154px, 1fr));
    }
}

.price {
    display: block;
    font-size: 16px;
    //background-color: aqua;
    flex: 1 0 auto;
    padding-bottom: 20px;
}

.price .woocommerce-Price-currencySymbol {
    margin-left: 5px;
    font-size: 80%;
}

.add_to_cart_button {
    display: inline-block;
    margin-top: 5px;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    border-bottom: 1px dotted @black;
    //background-color: bisque;
}

button.single_add_to_cart_button {
    margin: 5px 0;
}

.add_to_cart_button:hover,
.add_to_cart_button:focus {
    border-color: transparent;
}

.product-meta,
.product_meta {
    font-size: 11px;
}


/* Single product */
.product-grid {
    list-style-type: none;
    margin: 1em 0;
    padding: 0;
}

.product-grid li {
    margin: 20px 0;
}

.summary,
.details {
    margin: 0 0 20px;
}

.entry-content {
    font-size: 14px;
}

.product_title {
    padding-top: 0;
    padding-bottom: 5px;
    margin-top: -7px;
}

.details {
    
    h2,
    p,
    span {
        font-size: 0.9em;
    }
    
    h2 {
        padding-top: 15px;
    }
}


/* Share buttons (icons) */
.share-icons {
    margin: 1em 0;
    transition-delay: 1.65s;
}

.share-icons h3 {
    font-size: 12px;
}

.share-icons ul.icons {
    cursor: default;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.share-icons ul.icons li {
    display: inline-block;
    padding: 0 0.25em 0 0;
}

.share-icons ul.icons li:last-child {
    padding-right: 0;
}

.share-icons ul.icons li > a,
.share-icons ul.icons li > span {
    border: 0;
    text-decoration: none;
}

.share-icons ul.icons li > a {
    display: flex;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 0;
    transition: all 0.4s;
}

.share-icons ul.icons li a .icon {
    fill: @black;
	vertical-align: middle;
	padding: 20%;
}

.share-icons ul.icons li a:hover .icon,
.share-icons ul.icons li a:focus .icon {
    fill: @red;
}

.share-icons ul.icons li > a .label,
.share-icons ul.icons li > span .label {
    display: none;
}


/* Breadcrumbs nav */
#breadcrumbs {
    list-style: none;
    margin: 0 auto;
    overflow: hidden;
    padding: 5px 10px;
    text-align: center;
    font-style: italic;
    font-size: 12px;
}

#breadcrumbs li {
    display: inline-block;
    vertical-align: middle;
}

#breadcrumbs li.item-current {
    font-style: normal;
}

#breadcrumbs a,
#breadcrumbs span {
    //background-color: rgba(218, 41, 28, 0.3);
    padding: 3px 6px;
}
  
#breadcrumbs .separator {
    font-size: 12px;
    font-weight: 400;
    color: @black;
}


/* Shopping cart panel */
.widget_shopping_cart {
    position: absolute;
    right: 0;
    top: 80px;
    width: 300px;
    height: auto;
    color: @black;
    background-color: white;
    padding: 20px 20px 10px 20px;
    border-top: 1px solid @black;
    border-bottom: 1px solid @black;
    z-index: 9999;
    
    //transform: translateY(-10px) scaleY(0);
    //transform-origin: top center;
    //opacity: 0;
    display: none;
    transition: all 0.5s;
}

.widget_shopping_cart.show {
    //transform: translateY(0) scaleY(1);
    //opacity: 1;
}

.widget_shopping_cart h3 {
    margin-bottom: 20px;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 1.2;
    font-size: 14px;
}

.widget_shopping_cart p {
    margin: 15px 0;
    font-size: 14px;
    padding-bottom: 0;
}

.widget_shopping_cart .dropdown-cart-wrap.isempty {
    border-bottom: none;
    margin-bottom: 0;
}

.woocommerce-mini-cart__empty-message,
.widget_shopping_cart .dropdown-cart-wrap.isempty p {
    text-align: center;
    padding: 0;
}

.widget_shopping_cart .dropdown-cart-left img {
    max-width: 60px;
    margin: 0 15px 10px 0;
}

.dropdown-cart-wrap {
    display: flex;
    border-bottom: 1px dotted @black;
    margin-bottom: 1em;
}

.dropdown-cart-wrap.wc-subtotal,
.dropdown-cart-wrap.dropdown-cart-last {
    border-bottom: none;
}

.dropdown-cart-wrap.wc-subtotal p {
    margin: 0;
}

.dropdown-cart-wrap.wc-subtotal span {
    font-weight: 600;
    margin-left: 5px;
}

.dropdown-cart-wrap.dropdown-cart-last {
    //flex-wrap: wrap;
    justify-content: space-around;
}

.dropdown-cart-wrap.dropdown-cart-last .button {
    padding-right: 0.35em;
    padding-left: 0.35em;
    width: 48%;
}

.dropdown-cart-wrap.dropdown-cart-last .button:first-child {
    margin-right: 2%;
}

.dropdown-cart-wrap.dropdown-cart-last .button:hover,
.dropdown-cart-wrap.dropdown-cart-last .button:focus {
    color: white;
    background-color: crimson;
    border: 1px solid crimson;
}

.dropdown-cart-wrap.dropdown-cart-last .button.btn-white:hover,
.dropdown-cart-wrap.dropdown-cart-last .button.btn-white:focus {
    color: crimson;
    background-color: white;
    border: 1px solid crimson;
}
/* Shop menu panel ends */


/*  Responsive code  */
@media (max-width: 1200px) {
    .widget_shopping_cart {
        right: 40px;
    }
}

@media (max-width: 800px) {
    .widget_shopping_cart {
        top: 180px;
    }
}

@media (max-width: 414px) {
    .widget_shopping_cart {
        right: 0;
        width: ~"calc(100% - 40px)";
    }
}

