/*! Blog */
// ==========================================================================

.blog-grid {
    display: grid;
    grid-gap: 100px;
    grid-template-columns: repeat(auto-fit, minmax(315px, 1fr));
    //grid-template-rows: repeat(2, 100px); 
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.blog-grid li {
    display: flex;
    flex-direction: column;
}

.blog-grid li p {
    display: block;
    flex: 1 0 auto;
}

.read {
    display: inline-block;
    margin-top: 5px;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    border-bottom: 1px solid @black;
    //background-color: bisque;
}

.wp-post-image {
    margin-top: 10px;
}

.type-post h1 {
    padding-top: 0;
}
