/*! Shop */
// ==========================================================================

.shop-grid {
    display: grid;
    grid-gap: 60px 20px;
    grid-template-columns: repeat(auto-fit, minmax(268px, 1fr));
    //grid-template-rows: repeat(2, 100px); 
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.shop-grid li {
    display: flex;
    flex-direction: column;
}

@media (max-width: 640px) {
    .shop-grid {
        grid-gap: 60px 10px;
        grid-template-columns: repeat(auto-fit, minmax(154px, 1fr));
    }
}


.woocommerce-loop-product__title {
    display: flex;
    text-transform: uppercase;
    font-size: 14px;
    padding: 0;
}

.woocommerce-loop-product__title a {
    padding: 7px 0;
    width: 100%;
}

.onsale {
    display: none;
}

.price {
    display: block;
    font-size: 16px;
    //background-color: aqua;
    flex: 1 0 auto;
    padding-bottom: 5px;
}

.price .woocommerce-Price-currencySymbol {
    margin-left: 5px;
    font-size: 80%;
}

.add_to_cart_button {
    display: inline-block;
    margin-top: 5px;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    border-bottom: 1px dotted @black;
    //background-color: bisque;
}

button.single_add_to_cart_button {
    margin: 5px 0;
}

.add_to_cart_button:hover,
.add_to_cart_button:focus {
    border-color: transparent;
}

.product-meta,
.product_meta {
    font-size: 11px;
}

.product_meta {
    display: none;
}


/* Single product */
.product-grid {
    list-style-type: none;
    margin: 1em 0;
    padding: 0;
}

.product-grid li {
    margin: 20px 0;
}

.summary,
.details {
    margin: 0 0 20px;
}

.entry-content {
    font-size: 14px;
}

.product_title {
    padding-top: 0;
    padding-bottom: 5px;
    margin-top: -7px;
}

.details {
    
    h2,
    p,
    span {
        font-size: 0.9em;
    }
    
    h2 {
        padding-top: 15px;
    }
    
    table {
        margin-bottom: 0;
    }
}

.woocommerce-product-details__short-description {
    margin-top: 25px;
}

.out-of-stock,
.soldout {
    text-transform: uppercase;
    font-weight: 700;
    color: @red;
}

.product_meta span {
    margin-right: 15px;
}

.damaged {
    font-size: 12px;
    padding: 3px 10px;
}

.damaged span {
    margin-right: 3px;
}


/* Share buttons (icons) */
.share-icons {
    margin: 1em 0;
    transition-delay: 1.65s;
}

.share-icons h3 {
    font-size: 12px;
}

.share-icons ul.icons {
    cursor: default;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.share-icons ul.icons li {
    display: inline-block;
    padding: 0 0.25em 0 0;
}

.share-icons ul.icons li:last-child {
    padding-right: 0;
}

.share-icons ul.icons li > a,
.share-icons ul.icons li > span {
    border: 0;
    text-decoration: none;
}

.share-icons ul.icons li > a {
    display: flex;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 0;
    transition: all 0.4s;
}

.share-icons ul.icons li a .icon {
    fill: @black;
	vertical-align: middle;
	padding: 20%;
}

.share-icons ul.icons li a:hover .icon,
.share-icons ul.icons li a:focus .icon {
    fill: @red;
}

.share-icons ul.icons li > a .label,
.share-icons ul.icons li > span .label {
    display: none;
}


/* Breadcrumbs nav */
#breadcrumbs {
    list-style: none;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    padding: 5px 10px;
}

#breadcrumbs li {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    line-height: 12px;
    padding: 3px 6px;
}

#breadcrumbs li.item-current {
    font-style: normal;
}

#breadcrumbs a {
    font-style: italic;
    padding: 4px 0;
}


/* Mini cart panel */
.widget_shopping_cart {
    position: absolute;
    right: 0;
    top: 80px;
    width: 300px;
    height: auto;
    color: @black;
    background-color: white;
    padding: 10px 15px 5px 15px;
    border-top: 1px solid @black;
    border-bottom: 1px solid @black;
    z-index: 9999;
    display: none;
    transition: all 0.5s;
}

.widget_shopping_cart.show {
    //transform: translateY(0) scaleY(1);
    //opacity: 1;
}

/*.widget_shopping_cart h3 {
    margin-bottom: 20px;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 1.2;
    font-size: 14px;
}

.widget_shopping_cart p {
    margin: 15px 0;
    font-size: 14px;
    padding-bottom: 0;
}*/

.widget_shopping_cart .dropdown-cart-wrap.isempty {
    display: block;
    border-bottom: none;
    margin-bottom: 0;
}

.woocommerce-mini-cart__empty-message,
.widget_shopping_cart .dropdown-cart-wrap.isempty p {
    text-align: center;
    padding: 0;
}

.widget_shopping_cart .dropdown-cart-wrap.isempty svg {
    display: block;
    margin: 0 auto;
    max-width: 40px;
    height: 40px;
}

/*.widget_shopping_cart .dropdown-cart-left img {
    max-width: 60px;
    margin: 0 15px 10px 0;
}*/

.woocommerce-mini-cart {
    padding-left: 0;
}

.mini_cart_item {
    display: flex;
    align-items: flex-end;
    border-bottom: 1px dotted @black;
    margin-bottom: 1em;
    padding: 7px 0;
    line-height: 1.4;
}

.mini_cart_item:last-child {
    border-bottom-style: solid;
}

.mini_cart_item .remove_from_cart_button {
    font-size: 14px;
    color: @red;
    background-color: transparent;
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    margin-bottom: 3px;
    border-radius: 50%;
}

.mini_cart_item .remove_from_cart_button:hover,
.mini_cart_item .remove_from_cart_button:focus {
    color: @white;
    background-color: @red;
}

.mini_cart_item .wc-thumb-title {
    display: flex;
    align-items: flex-end;
    text-transform: uppercase;
    font-weight: 700;
    width: 80%;
    margin-right: 7px;
}

.mini_cart_item .wc-thumb-title img {
    width: 60px;
    height: 60px;
    margin: 0 10px 2px;
}

.mini_cart_item .quantity {
    text-align: right;
}

.woocommerce-mini-cart__total {
    padding-bottom: 20px;
}

.woocommerce-mini-cart__buttons {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

/*.dropdown-cart-wrap {
    display: flex;
    border-bottom: 1px dotted @black;
    margin-bottom: 1em;
}

.dropdown-cart-wrap.wc-subtotal,
.dropdown-cart-wrap.dropdown-cart-last {
    border-bottom: none;
}

.dropdown-cart-wrap.wc-subtotal p {
    margin: 0;
}

.dropdown-cart-wrap.wc-subtotal span {
    font-weight: 600;
    margin-left: 5px;
}

.dropdown-cart-wrap.dropdown-cart-last {
    //flex-wrap: wrap;
    justify-content: space-around;
}

.dropdown-cart-wrap.dropdown-cart-last .button {
    padding-right: 0.35em;
    padding-left: 0.35em;
    width: 48%;
}

.dropdown-cart-wrap.dropdown-cart-last .button:first-child {
    margin-right: 2%;
}

.dropdown-cart-wrap.dropdown-cart-last .button:hover,
.dropdown-cart-wrap.dropdown-cart-last .button:focus {
    color: white;
    background-color: crimson;
    border: 1px solid crimson;
}

.dropdown-cart-wrap.dropdown-cart-last .button.btn-white:hover,
.dropdown-cart-wrap.dropdown-cart-last .button.btn-white:focus {
    color: crimson;
    background-color: white;
    border: 1px solid crimson;
}*/
/* Mini cart panel ends */


/* Cart page */
.shop_table {
    font-size: 12px;
}

.shop_table tr {
    border-style: solid;
}

.shop_table td {
    vertical-align: bottom;
}

.shop_table .product-thumbnail a {
    display: block;
    height: 66px;
}

.shop_table .product-thumbnail img {
    max-width: 66px;
    max-height: 66px;
}

.shop_table .product-remove a {
    display: block;
    font-size: 20px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    color: @red;
}

.shop_table .product-remove a:hover,
.shop_table .product-remove a:focus {
    color: @white;
    background-color: @red;
}

.shop_table tbody .product-name {
    text-transform: uppercase;
    font-weight: 700;
}

.shop_table .actions {
    display: none;
}

.shop_table .coupon {
    max-width: 260px;
    margin-top: 20px;
}

.cart-collaterals {
    max-width: 440px;
}

.cart-collaterals table th,
.cart-collaterals table td {
    padding: 1.5em 0.75em;
}

.cart-collaterals table th {
    font-size: 1em;
    font-weight: 700;
}

.cart-collaterals table td {
    text-align: right;
}

.cart-collaterals .checkout-button {
    color: @white;
    background-color: @black;
    padding: 0 20px;
}

.cart-collaterals .checkout-button:hover,
.cart-collaterals .checkout-button:focus {
    color: @red;
    background-color: transparent;
}

.woocommerce-shipping-methods {
    list-style-type: none;
    padding-left: 0;
    text-align: left;
}

.woocommerce-shipping-methods li {
    margin: 10px 0;
    display: flex;
}

.shipping-calculator-form p {
    padding-bottom: 15px;
}
/* Cart page ends */


/* Checkout page */
.checkout-wrapper {
    display: flex;
    flex-direction: row;
}

.checkout-wrapper #customer_details {
    width: 50%;
    margin-right: 5%;
}

.checkout-wrapper #order_review {
    width: 45%;
}

#order_review table th,
#order_review table td {
    padding: 1.5em 0.75em;
}

.checkout #order_review .shop_table {
    margin-bottom: 80px;
}

.checkout #order_review .shop_table .order-total {
    //border-bottom: 1px solid @black;
    text-transform: uppercase;
    font-size: 14px;
}

.checkout p {
    padding-bottom: 20px;
}

.checkout label {
    margin-bottom: 5px;
}

.checkout input {
    margin: 5px 0;
}

#payment ul {
    list-style-type: none;
    padding-left: 0;
}

#payment li {
    margin: 10px 0;
}

#payment p,
#payment label {
    font-size: 12px;
}

#payment .payment_box {
    margin: 5px 0 10px;
    padding: 10px;
    background-color: @whitegrey;
}

#payment .woocommerce-terms-and-conditions-wrapper {
    margin-top: 30px;
}

#payment .woocommerce-terms-and-conditions-wrapper p {
    font-size: 12px;
}

#payment .payment_method_ppec_paypal img {
    vertical-align: middle;
}

#order_review #place_order {
    color: @white;
    background-color: @black;
    padding: 0 20px;
}

#order_review #place_order:hover,
#order_review #place_order:focus {
    color: @red;
    background-color: transparent;
}

@media (max-width: 640px) {
    .checkout-wrapper {
        flex-direction: column;
    }

    .checkout-wrapper #customer_details {
        width: 100%;
        margin-right: 0;
    }

    .checkout-wrapper #order_review {
        width: 100%;
    }
}
/* Checkout page ends */


/* Order received page */
.woocommerce-order p.woocommerce-notice {
    padding: 10px;
    margin: 0 0 30px;
    background-color: @whitegrey;
}

.woocommerce-order ul.woocommerce-order-overview {
    margin: 10px 0 30px;
}

.woocommerce-order ul.woocommerce-order-overview li {
    margin: 10px 0;
}

.woocommerce-order-details table td,
.woocommerce-order-details table th {
    padding: 1.5em 0.75em;
    font-size: 1em;
}
/* Order received page ends */


/* Woocommerce notices */
.before-grid {
    display: flex;
    flex-direction: column-reverse;
    //margin-bottom: 20px;
}

.woocommerce-notices-wrapper {
    /*position: relative;
    width: 100%;
    margin: -40px auto 0;
    background-color: @white;
    padding: 20px 0;
    border: 1px solid @black;
    border-bottom: 4px solid @red;*/
}

.woocommerce-ordering {
    width: 200px;
    //width: auto;
    margin: -78px 0 40px auto;
    
    .orderby {
        font-family: 'Fira Sans', sans-serif;
        font-size: 12px;
        border-color: transparent;
        border-bottom: 1px dotted @black;
        padding: 0 5px;
    }
}

#width_tmp_select {
    display : none;
} 

.woocommerce-result-count {
    font-size: 11px;
    line-height: 1.2;
    padding-bottom: 20px;
}

@media (max-width: 600px) {
    .before-grid {
        margin-top: -20px;
    }
    
    .woocommerce-ordering {
        margin: -88px 0 30px auto;
    }
}

@media (max-width: 360px) {
    .woocommerce-ordering {
        //width: 200px;
    }
}

.woocommerce-message,
.woocommerce-error,
.woocommerce-info {
    padding: 1em 1em 1em 3.5em;
    margin: 0 0 2em;
    position: relative;
    border-radius: 0;
    background: @whitegrey;
    color: @black;
    list-style: none outside;
    width: auto;
    font-size: 14px;
}

.woocommerce-message:after,
.woocommerce-error:after,
.woocommerce-info:after {
    content: "";
    display: block;
    clear: both;
}

.woocommerce-message:before,
.woocommerce-error:before,
.woocommerce-info:before {
    content:"";
    height:1.5em;
    width:1.5em;
    display:block;
    position:absolute;
    top:0;
    left:1em;
    font-family:sans-serif;
    font-size:1em;
    line-height:1.5;
    text-align:center;
    color:#fff;
    text-shadow:0 1px 0 rgba(0,0,0,0.2);
    padding-top:1em;
    box-shadow:inset 0 -1px 0 0 rgba(0,0,0,0.1);
    -webkit-box-shadow:inset 0 -1px 0 0 rgba(0,0,0,0.1);
    -moz-box-shadow:inset 0 -1px 0 0 rgba(0,0,0,0.1);
}

.woocommerce-message .button,
.woocommerce-error .button,
.woocommerce-info .button {
    float: right;
    height: auto;
    line-height: normal;
    border-top: none;
    border-bottom: none;
}

.woocommerce-message li,
.woocommerce-error li,
.woocommerce-info li {
    list-style: none outside;
    padding-left: 0;
    margin: 10px 0;
}

.woocommerce-message {
    border-top: 3px solid @greylight;
}

.woocommerce-message:before {
    background-color: @greylight;
    content: "\2713";
}

.woocommerce-info {
    border-top: 3px solid @greydark;
}

.woocommerce-info:before {
    background-color: @greydark;
    content: "i";
    font-family: Times, Georgia, serif;
    font-style: italic;
}

.woocommerce-error {
    border-top: 3px solid @red;
}

.woocommerce-error:before {
    background-color: @red;
    content: "\00d7";
    font-weight: 700;
}

.addtocart-wrap {
    //display: flex;
    //flex-direction: column-reverse;
    position: relative;
}

.added_to_cart {
    font-size: 12px;
    color: @white;
    background-color: @black;
    padding: 2px 6px;
    margin: 0;
    position: absolute;
    left: 0;
    bottom: -24px;
}

.added_to_cart:hover,
.added_to_cart:focus {
    background-color: transparent;
    color: @red;
}
/* Woocommerce notices end */


/* My account page */
.woocommerce-MyAccount-navigation ul {
    list-style-type: inherit;
    margin: 30px 0;
}

.woocommerce-form {
    max-width: 380px;
}

/**
     *  Password strength meter
     */
    .woocommerce-password-strength {
        text-align: center;
        font-size: 12px;
        font-weight: 700;
        padding: 2px 7px;
        float: left;
        max-width: 280px;
        line-height: 1.5;

        &.strong {
            background-color: #c1e1b9;
            border-color: #83c373;
        }

        &.short {
            background-color: #f1adad;
            border-color: #e35b5b;
        }

        &.bad {
            background-color: #fbc5a9;
            border-color: #f78b53;
        }

        &.good {
            background-color: #ffe399;
            border-color: #ffc733;
        }
    }

.woocommerce-password-hint {
    float: left;
    margin: 5px 0 15px;
    line-height: 1.5;
}

.woocommerce-form__label-for-checkbox {
    margin-top: 20px;
    font-weight: 400;
}

.woocommerce-form__label-for-checkbox input[type="checkbox"] {
    margin: 2px 8px 0 0;
    opacity: 1;
    display: inline-block;
    height: 16px;
    width: 16px;
    border-radius: 0;
    vertical-align: middle;
    color: @black;
    border: 1px solid @black;
    background-color: white;
    outline: 0;
}

.woocommerce-form__label-for-checkbox input[type=checkbox]:checked:before {
    content: "\2714";
    
    float: left;
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    font: 400 21px/1 dashicons;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: @black;
    margin: -4px 0 0 -1px;
}
/* My account page ends */


/*  Responsive code  */
@media (max-width: 1200px) {
    .widget_shopping_cart {
        right: 40px;
    }
}

@media (max-width: 800px) {
    .widget_shopping_cart {
        top: 180px;
    }
}

@media (max-width: 414px) {
    .widget_shopping_cart {
        right: 0;
        width: ~"calc(100% - 40px)";
    }
}

