/*************************************
  * Filename: style.less
  * Website: http://columpiu.com
  * Author: Sokvist
  * Author URI: http://sokvist.com
  * Date: 30/11/2018
  * Version: 1.0
**************************************/

@import "reset.less";
@import "variables.less";
@import "mixins.less";


/*
	
	*****************************************
	
    - General CSS
    - Custom
	- Header
    - Sections
    - footer
	- Responsive code
    - @import
	
*/


/*  General CSS*/
html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    overflow-x: hidden !important;
    -webkit-font-smoothing: antialiased;
    font-family: 'Fira Sans', sans-serif;
    //font-family: 'Cabin Condensed', sans-serif;
    color: @black;
    line-height: 1.7;
}

a {
    color: @black;
    transition: all 0.5s;
    text-decoration: none;
}

a:focus {
    outline: 0;
}

a:hover,
a:focus {
    color: @red;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

em {
    font-style: italic;
}

strong {
    font-weight: 700;
}
small {
    font-size: 0.8em;
}

address {
    font-style: normal;
}

p {
    color: #1d171a;
    line-height: 1.8;
    font-size: 14px;
    font-weight: 400;
    clear: both;
    letter-spacing: 0.4px;
    padding-bottom: 30px;
}

hr {
    width: 60px;
    height: 1px;
    background: @black;
    border-top: 0;
    margin-top: 0;
    margin-bottom: 30px;
    display: block;
    clear: both;
    float: left;
}

hr.alt {
    margin-top: 80px;
}

hr.alt-full {
    width: 100%;
}

h1 {
    font-size: 24px;
    font-weight: bold;
}
h2 {
    font-size: 20px;
}
h3 {
    font-size: 16px;
}
h4 {
    font-size: 12px;
    text-transform: uppercase;
}
h5 {
    font-size: 11px;
    text-transform: uppercase;
}
h6 {
    font-size: 10px;
    text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    //font-family: 'Cabin Condensed', sans-serif;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    color: #111111;
    clear: both;
    padding-bottom: 15px;
    padding-top: 25px;
}

b {
    font-weight: 700;
}

blockquote {
    margin: 30px 0 30px;
    padding: 0 0 0 20px;
    font-size: 16px;
    border-left: 5px solid rgba(29, 23, 26, 0.1);
    font-weight: 400;
    font-style: italic;
    line-height: 2;
    color: rgba(29, 23, 26, 0.5);
}

blockquote p {
    display: inline;
}

ul,
ol {
    padding-left: 20px;
    padding-bottom: 30px;
    font-size: 14px;
}

ul li {
    list-style-type: inherit;
}

dl dt {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 14px;
}

dl dd {
    margin-left: 15px;
}

/* Table */

.table-wrapper {
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
}

table {
    margin: 0 0 2em 0;
    width: 100%;
    font-size: 14px;
}

table tbody tr {
    border: dotted 1px rgba(29, 23, 26, 1);
    border-left: 0;
    border-right: 0;
}

table tbody tr:nth-child(2n + 1) {
    //background-color: @whitegrey;
}

table td {
    padding: 0.75em 0.75em;
}

table th {
    font-size: 0.9em;
    font-weight: 600;
    padding: 0 0.75em 0.75em 0.75em;
    text-align: left;
}

table thead {
    border-bottom: solid 1px rgba(29, 23, 26, 1);
}

table tfoot {
    border-top: solid 1px rgba(29, 23, 26, 1);
}

table.alt {
    border-collapse: separate;
}

table.alt tbody tr td {
    border-bottom: dotted 1px rgba(29, 23, 26, 1);
    border-left-width: 0;
    border-top-width: 0;
}

table.alt tbody tr td:first-child {
    border-left-width: 1px;
}

table.alt tbody tr:first-child td {
    border-top-width: 1px;
}

table.alt thead {
    border-bottom: 0;
}

table.alt tfoot {
    border-top: 0;
}


/* Form */

form {
    margin: 0 0 2em 0;
}

label {
    display: block;
    font-size: 0.9em;
    font-weight: 600;
    margin: 0 0 1em 0;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="url"],
input[type="number"],
select,
textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: #ffffff;
    border-radius: 0;
    border: none;
    border: solid 1px @black;
    color: inherit;
    display: block;
    outline: 0;
    padding: 0 15px;
    text-decoration: none;
    width: 100%;
    width: ~"calc(100% - 30px)";
    margin: 10px 0;
    transition: all 0.5s;
}

input[type="number"] {
    width: 40px;
    height: 32px;
    line-height: 32px;
    padding: 0 10px;
}

select {
    width: 100%;
}

input[type="text"]:invalid,
input[type="password"]:invalid,
input[type="email"]:invalid,
input[type="tel"]:invalid,
input[type="search"]:invalid,
input[type="url"]:invalid,
select:invalid,
textarea:invalid {
    box-shadow: none;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="search"]:focus,
input[type="url"]:focus,
select:focus,
textarea:focus {
    //border-color: @red;
    //box-shadow: 0 0 0 1px @red;
}

.select-wrapper,
.woocommerce-input-wrapper {
    text-decoration: none;
    display: block;
    position: relative;
}

.select-wrapper:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: monospace;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

.select-wrapper:before {
    color: @black;
    content: '\2023';
    display: block;
    height: 38px;
    line-height: 38px;
    pointer-events: none;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 38px;
    font-size: 18px;
    transform: rotate(90deg);
}

.select-wrapper select::-ms-expand {
    display: none;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="url"],
select {
    height: 38px;
}

textarea {
    padding: 0.75em 1em;
}

input[type="checkbox"],
input[type="radio"] {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    display: block;
    float: left;
    margin-right: -2em;
    opacity: 0;
    width: 1em;
    z-index: -1;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
    text-decoration: none;
    color: @black;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    font-weight: 400;
    padding-left: 2.4em;
    padding-right: 0.75em;
    position: relative;
    font-size: 14px;
}

input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: monospace;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
    background: #ffffff;
    border-radius: 0;
    border: solid 1px @black;
    content: '';
    display: inline-block;
    height: 18px;
    left: 0;
    line-height: 18px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 18px;
    font-size: 20px;
}

input[type="checkbox"]:checked + label:before,
input[type="radio"]:checked + label:before {
    background: @black;
    border-color: @black;
    color: #ffffff;
}

input[type="checkbox"]:checked + label:before {
    content: '\2713';
}

input[type="radio"]:checked + label:before {
    content: '\2022';
}

input[type="checkbox"]:focus + label:before,
input[type="radio"]:focus + label:before {
    border-color: @red;
    box-shadow: 0 0 0 1px @red;
}

input[type="checkbox"] + label:before {
    border-radius: 0;
}

input[type="radio"] + label:before {
    border-radius: 100%;
}

::-webkit-input-placeholder {
    color: #9fa3a6 !important;
    opacity: 1.0;
}

:-moz-placeholder {
    color: #9fa3a6 !important;
    opacity: 1.0;
}

::-moz-placeholder {
    color: #9fa3a6 !important;
    opacity: 1.0;
}

:-ms-input-placeholder {
    color: #9fa3a6 !important;
    opacity: 1.0;
}

.formerize-placeholder {
    color: #9fa3a6 !important;
    opacity: 1.0;
}


/* Button */
input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background-color: transparent;
    border-radius: 0;
    border: 0;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    height: 38px;
    letter-spacing: 1px;
    line-height: 38px;
    padding: 0;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    transition: all 0.5s;
    border-top: 1px solid transparent;
    border-bottom: 1px solid @black;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:hover,
.button:hover {
    color: @red;
    border-bottom-color: @red;
}

input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active,
button:active,
.button:active {
    //box-shadow: inset 0 0 0 1px @red;
}

input[type="submit"].special,
input[type="reset"].special,
input[type="button"].special,
button.special,
.button.special {
    border-bottom-style: dotted;
}

input[type="submit"].special:hover,
input[type="reset"].special:hover,
input[type="button"].special:hover,
button.special:hover,
.button.special:hover {
    color: @red;
    border-color: transparent;
    background-color: transparent;
}

input[type="submit"].special:active,
input[type="reset"].special:active,
input[type="button"].special:active,
button.special:active,
.button.special:active {
    //box-shadow: inset 0 0 0 2px @red;
}

input[type="submit"].disabled,
input[type="submit"]:disabled,
input[type="reset"].disabled,
input[type="reset"]:disabled,
input[type="button"].disabled,
input[type="button"]:disabled,
button.disabled,
button:disabled,
.button.disabled,
.button:disabled {
    -moz-pointer-events: none;
    -webkit-pointer-events: none;
    -ms-pointer-events: none;
    pointer-events: none;
    opacity: 0.25;
}


/* Contact Form 7 */
div.wpcf7 {
	margin: 2em 0;
	padding: 2em 0 0 0;
    max-width: 400px;
}

div.wpcf7 input[type="checkbox"],
div.wpcf7 input[type="radio"] {
    -moz-appearance: checkbox !important;
    -webkit-appearance: checkbox !important;
    -ms-appearance: checkbox !important;
    appearance: checkbox !important;
    float: none;
    opacity: 1;
}

div.wpcf7 span.wpcf7-list-item-label {
    font-weight: 400;
}

div.wpcf7 .screen-reader-response {
	position: absolute;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	width: 1px;
	margin: 0;
	padding: 0;
	border: 0;
}

div.wpcf7-response-output {
	margin: 2em 0.5em 1em;
	padding: 0.2em 1em;
	border: 2px solid @red;
    font-size: 12px;
}

div.wpcf7-mail-sent-ok {
	border: 2px solid #398f14;
}

div.wpcf7-mail-sent-ng,
div.wpcf7-aborted {
	border: 2px solid @red;
}

div.wpcf7-spam-blocked {
	border: 2px solid #ffa500;
}

div.wpcf7-validation-errors,
div.wpcf7-acceptance-missing {
	border: 2px solid #f7e700;
    font-size: 12px;
}

.wpcf7-form-control-wrap {
	position: relative;
}

span.wpcf7-not-valid-tip {
	color: #f00;
	font-size: 1em;
	font-weight: normal;
	display: block;
}

.use-floating-validation-tip span.wpcf7-not-valid-tip {
	position: absolute;
	top: 20%;
	left: 20%;
	z-index: 100;
	border: 1px solid #ff0000;
	background: #fff;
	padding: .2em .8em;
}

span.wpcf7-list-item {
	display: inline-block;
	margin: 0 0 0 1em;
}

span.wpcf7-list-item-label::before,
span.wpcf7-list-item-label::after {
	content: " ";
}

.wpcf7-display-none {
	display: none;
}

div.wpcf7 .ajax-loader {
	visibility: hidden;
	display: inline-block;
	//background-image: url('../../images/ajax-loader.gif');
	width: 16px;
	height: 16px;
	border: none;
	padding: 0;
	margin: 0 0 0 4px;
	vertical-align: middle;
}

div.wpcf7 .ajax-loader.is-active {
	visibility: visible;
}

div.wpcf7 div.ajax-error {
	display: none;
}

div.wpcf7 .placeheld {
	color: #888;
}

div.wpcf7 input[type="file"] {
	cursor: pointer;
}

div.wpcf7 input[type="file"]:disabled {
	cursor: default;
}

div.wpcf7 .wpcf7-submit:disabled {
	cursor: not-allowed;
}


/* Custom */
a.a-reverse {
    color: @red;
}

a.a-reverse:hover,
a.a-reverse:focus {
    border-color: @black;
}

a.a-dotted {
    border-bottom: 1px dotted @black;
}

a.a-dotted:hover,
a.a-dotted:focus {
    border-color: @red;
}

a[href^="tel:"] {
    font-weight: 700;
    color: @red;
}

a[href^="tel:"]:hover,
a[href^="tel:"]:focus {
    color: @black;
    border-bottom: 1px dotted @black;
}

.row-bottom a[href^="tel:"] {
    color: @black;
    font-weight: 400;
}

.row-bottom a[href^="tel:"]:hover,
.row-bottom a[href^="tel:"]:focus {
    color: @red;
    border-bottom: none;
}

ul.list {
    display: block;
    line-height: 25px;
}

ul.sublist {
    padding-left: 35px;
}

.wrapper{
	max-width: 1140px;
	height: auto;
	margin: 0 auto;
    position: relative;
}

.flex-right {
    display: flex;
    justify-content: flex-end;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.no-margin {
    margin: 0;
}

.margin-top {
    margin-top: 100px;
}

.margin-top-60 {
    margin-top: 60px;
}

.margin-top-50 {
    margin-top: 50px;
}

.margin-top-40 {
    margin-top: 40px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-bottom {
    margin-bottom: 100px;
}

.row-title {
    margin: 0 auto 10px;
    padding: 0;
    font-size: 22px;
}

.alignleft-text {
    text-align: left;
}

.alignright-text {
    text-align: right;
}

header ul.social li a,
header nav ul li a {
	transition: all .2s linear;
	-webkit-transition:all .2s linear;
	-moz-transition:all .2s linear;
	-o-transition:all .2s linear;
}

.w-tagline p {
    position: absolute;
    background-color: #f0ecec;
    padding: 7px 14px;
    z-index: 1;
    transition: all .25s linear;
}

.w-tagline:hover p {
    opacity: 0;
}

.scale-effect {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.scale-effect a {
    display: grid;
    cursor: pointer;
}

.scale-effect img {
    max-width: 100%;
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-backface-visibility: hidden;
}

.scale-effect:hover img {
    -moz-transform: scale(1.02);
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
}

.our-story-image img {
    max-width: 100%;
    height: auto;
    outline: 1px solid rgba(255, 255, 255, 0.8);
    outline-offset: -30px;
}

ul.pagination,
ul.page-numbers {
    cursor: default;
    list-style: none;
    padding-left: 0;
    margin: 2em 0;
}

ul.pagination li,
ul.page-numbers li {
    display: inline-block;
    padding-left: 0;
    vertical-align: middle;
    font-size: 12px;
    font-weight: 700;
    color: rgba(29, 23, 26, 0.3);
}

ul.pagination li > a,
ul.page-numbers li > a {
    border-bottom: 1px solid transparent;
    border-radius: 0;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    height: 24px;
    line-height: 24px;
    margin: 0 0.125em;
    min-width: 20px;
    padding: 0 5px;
    text-align: center;
    transition: all 0.3s;
}

ul.pagination li > a.active,
ul.page-numbers li > a.active {
    color: @red !important;
}

ul.pagination li > a:hover,
ul.page-numbers li > a:hover {
    border-bottom-color: @black;
    color: @black;
}

ul.pagination li:first-child,
ul.page-numbers li:first-child {
    padding-right: 1em;
}

ul.pagination li:last-child,
ul.page-numbers li:last-child {
    padding-left: 1em;
}

@media screen and (max-width: 480px) {

    ul.pagination li:nth-child(n+2):nth-last-child(n+2),
    ul.page-numbers li:nth-child(n+2):nth-last-child(n+2) {
        display: none;
    }

    ul.pagination li:first-child,
    ul.page-numbers li:first-child {
        padding-right: 0;
    }

}


/* Images */
.fit-img {
    display: block;
    margin: 0 0 2em 0;
    width: 100%;
}

img.alignright {
    float: right;
    margin: 0 0 2em 2em;
}

img.alignleft {
    float: left;
    margin: 0 2em 2em 0;
}

img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* Text meant only for screen readers. */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar. */
}



/*  header  */
header {
    width: 100%;
    height: 80px;
}

header .wrapper {
    display: flex;
    flex-direction: row;
}

header .a-logo {
    line-height: 80px;
    //width: 185px;
}

header .a-logo svg {
    fill: @red;
    transition: all 0.5s;
}

header .a-logo svg,
header .a-logo img {
    width: 185px;
    vertical-align: middle;
}

header .a-logo:hover svg,
header .a-logo:focus svg {
    fill: @black;
}

header nav {
    display: flex;
    margin-left: auto;
}

header nav ul {
    list-style: none;
    overflow: hidden;
    padding: 0;
    margin: 0 0 0 20px;
}

header nav ul li {
    display: inline-block;
    margin-left: 15px;
}

header nav ul li a {
    display: block;
    text-decoration: none;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 1px;
    height: 80px;
    line-height: 80px;
    padding: 0 10px;
}

header nav ul li.current-menu-item a {
    color: @red;
}

header nav ul li.current-menu-item a:hover,
header nav ul li.current-menu-item a:focus {
    cursor: default;
}

header nav .shop-menu {
    display: flex;
}

header nav span.search-prods {
    display: inline-block;
}

header nav span a.advanced_search_icon {
    display: block;
    font-weight: 700;
    font-size: 15px;
    height: 80px;
    line-height: 80px;
    padding: 0 10px;
    margin: 0 0 0 15px;
}

header nav span a.advanced_search_icon:hover,
header nav span a.advanced_search_icon:focus {
    background-color: #f0ecec;
}

ul.main-menu {
    background-color: transparent;
}

ul.shop-acces {
    display: inherit;
    margin-right: 10px;
}

.shop-acces li a::before {
    content: '';
    position: absolute;
    /*top: 20px;*/
    margin-left: -15px;
    margin-top: 25px;
    width: 1px;
    height: 30px;
    background-color: #1d171a;
}

.shop-acces li:last-child a::after {
    content: '';
    position: absolute;
    /*top: 20px;*/
    margin-left: 15px;
    margin-top: 25px;
    width: 1px;
    height: 30px;
    background-color: #1d171a;
}

.shop-acces li a {
    display: block;
    font-size: 12px;
    font-weight: 400;
    padding: 0 0.3em;
    margin-left: 0.25em;
    text-align: center;
}

.shop-acces li a svg {
    display: inline-block;
    fill: #1d171a;
    vertical-align: middle;
    width: 14px;
    height: 14px;
    transition: all 0.5s;
}

.shop-acces li a:hover svg,
.shop-acces li a:focus svg {
    fill: #DA291C;
}

.shop-acces li a span {
    white-space: nowrap;
    display: none;
}

.woo-items-count {
    position: relative;
}

.woo-items-count a span {
    position: absolute;
    top: 23px;
    right: 1px;
    width: 16px;
    height: 13px;
    line-height: 13px;
    text-align: center;
    font-size: 13px;
    border-radius: 0;
    color: @red;
    background-color: transparent;
}


/*  Search Section  */
.site-search {
    display: block;
    width: 100%;
    height: 80px;
    position: relative;
}

.site-search form.woocommerce-product-search {
    position: relative;
    width: 100%;
    max-width: 333px;
    margin: 0 auto;
}

.site-search input.search-field {
    float: left;
    width: 100%;
    height: 40px;
    border: 1px solid #1d171a;
    border-radius: 20px;
    padding: 0 5%;
    margin: 20px 0;
    outline: none;
    font-family: monospace;
    background-color: white;
}

.site-search button {
    position: absolute;
    top: 2px;
    right: -2px;
    width: 38px;
    height: 38px;
    line-height: 38px;
    margin: 19px 5px;
    padding: 5px;
    border: 0;
    border-radius: 50%;
    background: @white;
    text-align: center;
    cursor: pointer;
    outline: none;
}

.site-search button svg {
    width: 20px;
    height: 20px;
}


.search {
    width: 100%;
    height: 2px;
    position: relative;
}

.search #submit_search {
    display: none;
}


.search .advanced_search {
    max-width: 1140px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: #fff;
    border-top: 1px solid #1d171a;
    border-bottom: 1px solid #1d171a;
    z-index: 9999;
    display: none;
}


/* Search form on mobile */
.mobile-search {
    display: none;
    position: relative;
    height: 60px;
    width: 60px;
}

.mobile-search .form-search {
    position: absolute;
    right: 0px;
    top: 0px;
}

.mobile-search .form-search input[type=text] {
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
    width: 0px;
    height: 36px;
    padding: 0 18px;
    outline: none;
    font-family: monospace;
    border-radius: 36px;
    color: @black;
    border: 1px solid transparent;
    transition: all 0.4s ease;
    background-color: transparent;
    z-index: 2;
    transition: all 0.4s ease;
}

.mobile-search .form-search input[type=text]:focus {
    width: 260px;
    background-color: #fff;
    box-shadow: none;
    border-color: @black;
}

.mobile-search .search-box-btn {
    position: absolute;
    width: 36px;
    height: 36px;
    background: transparent;
    border: 1px solid @black;
    border-radius: 50%;
    right: 0;
    top: 10px;
    cursor: pointer;
    text-align: center;
    line-height: 36px;
    padding: 3px;
    color: #fff;
    transition: all 0.4s ease;
}

.mobile-search .search-box-btn svg {
    height: 18px;
    width: 18px;
}


/* Menu categories */
.cats-content {
    padding: 2.2em 1.4em;
}

.cats-nav {
    //columns: 4;
    //column-gap: 4em;
    display: flex;
}

.cats-nav h3 {
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 2em 0 1em;
    padding: 12px 8px;
    border-bottom: 1px solid @black;
}

.cats-nav h3:nth-of-type(1) {
    margin-top: 0;
}

.cats-nav ul {
    list-style: none;
    break-inside: avoid;
}

ul.ul-cats {
    width: 85%;
    padding: 0;
}

ul.ul-cats li.product_cat > ul {
    columns: 4;
    column-gap: 4em;
}

ul.ul-styles {
    width: 15%;
}

li.product_cat ul li,
li.estilos ul li {
    font-size: 15px;
    line-height: 1.5;
    margin: 10px 0;
    break-inside: avoid;
}

li.product_cat ul li.cat-item {
    margin-bottom: 1em;
}

li.product_cat ul li.cat-item ul li.cat-item {
    margin-bottom: 3px;
}

.cats-nav ul.children,
li.estilos ul {
    margin: 0 0 1em;
    padding: 0 0 1em 1em;
    margin: 0;
    border: none;
    //border-bottom: 1px solid @black; // Joan ha demanat treure aquesta línea a la rev. 2
}

.cats-nav ul.children li {
    font-size: 0.9em;
}

.cats-nav a {
    display: block;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 0 0 0 10px;
}


/*  Footer  */
footer {
    width: 100%;
    min-height: 300px;
    font-size: 12px;
    line-height: 1.8;
}

footer .wrapper {
    border-top: 1px solid #1d171a;
    padding: 80px 0;
    margin-top: 120px;
}

footer h4 {
    text-transform: uppercase;
    font-size: 15px;
}

footer p {
    font-size: 12px;
    margin-bottom: 0;
    padding-bottom: 0;
    text-align: center;
}

footer address {
    text-align: center;
}

.logo-footer {
    display: block;
    text-align: center;
}

.logo-footer svg {
    fill: @red;
    transition: all 0.5s;
}

.logo-footer svg,
.logo-footer img {
    width: 115px;
    margin-bottom: 0;
    margin-top: 10px;
}

.logo-footer:hover svg,
.logo-footer:focus svg {
    fill: @black;
}

ul.social-media {
    padding: 0;
    margin-bottom: 10px;
    text-align: center;
}

ul.social-media li {
    list-style-type: none;
    display: inline;
    padding: 5px;
}

ul.social-media li a svg {
    display: inline-block;
    fill: #1d171a;
    width: 18px;
    height: 18px;
    vertical-align: middle;
    transition: all 0.5s;
}

ul.social-media li a i {
    color: #1d171a;
    font-size: 18px;
}

ul.social-media li a svg:hover,
ul.social-media li a svg:focus {
    fill: #DA291C;
}

ul.social-media li a span {
    display: none;
}

.copyright-mark {
    display: block;
    text-align: center;
}

ul.legal-pages {
    margin-bottom: 50px;
    padding: 0;
    text-align: center;
}

ul.legal-pages li {
    display: inline-block;
    margin: 5px;
}

ul.legal-pages li a {
    font-weight: 700;
    font-size: 14px;
    padding: 3px 6px;
}

@media (min-width: 40rem) {
    footer address,
    .logo-footer {
        text-align: left;
    }
    
    ul.social-media,
    .copyright-mark {
        text-align: right;
    }
}


/* Back to top */
.cd-top {
    display: inline-block;
    height: 24px;
    width: 24px;
    line-height: 24px;
    text-align: center;
    position: fixed;
    bottom: 7px;
    right: 7px;
    //border: 1px solid @black;
    background-color: white;
    opacity: 0;
    z-index: 99;
}

.cd-top svg {
    display: inline-block;
    fill: @black;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    transition: all 0.5s;
}

.cd-top span {
    display: none;
}

.cd-top.cd-is-visible,
.cd-top.cd-fade-out,
.no-touch .cd-top:hover {
    transition: opacity .3s 0s, visibility 0s 0s;
}

.cd-top.cd-is-visible {
    opacity: 1;
}

.cd-top.cd-fade-out {
    opacity: .8;
}

.no-touch .cd-top:hover svg,
.cd-top:hover svg {
    fill: rgba(218, 41, 28, 1);
    opacity: 1;
}

@media only screen and (max-width: 1024px) {
    .cd-top {
        height: 20px;
        width: 20px;
        line-height: 20px;
        right: 3px;
        bottom: 3px;
    }
    .cd-top svg {
        width: 20px;
        height: 20px;
    }
}


/*  Responsive code  */
@media (max-width: 1200px) {
    .wrapper {
        padding: 0 40px;
    }
    
    footer .wrapper {
        padding: 80px 40px;
    }
}

@media (max-width: 1025px) {
    header nav ul.main-menu li:nth-last-child(2) {
        display: none;
    }
}

@media (max-width: 1023px) {
    .mobile-search {
        display: block;
    }
    
    .site-search {
        display: none;
    }
}

@media (max-width: 800px) {
    .wrapper {
        padding: 0 20px;
    }
    
    footer .wrapper {
        padding: 60px 20px;
    }
    
    header {
        height: auto;
    }
    
    header nav {
        margin-left: 0;
    }
    
    header .wrapper,
    header .wrapper nav {
        flex-direction: column;
    }
    
    header .wrapper {
        align-items: center;
        padding: 0 20px;
    }
    
    header .wrapper nav {
        align-items: center;
    }
    
    header nav ul,
    header nav span a.advanced_search_icon {
        margin-left: 0;
    }
    
    header .a-logo,
    header nav .shop-menu,
    ul.main-menu,
    header nav ul li a,
    header nav span a.advanced_search_icon {
        height: 60px;
        line-height: 60px;
    }
    
    header nav ul.main-menu li {
        margin-left: 7px;
        margin-right: 7px;
    }
    
    header .a-logo img {
        width: 155px;
    }
    
    .shop-acces li a::before,
    .shop-acces li:last-child a::after {
        margin-top: 15px;
    }
    
    .cats-content {
        padding: 2.2em 0.5em;
    }
    
    .cats-nav {
        //columns: 2;
        flex-direction: column;
    }
    
    ul.ul-cats {
        width: 100%;
    }

    ul.ul-cats li.product_cat > ul {
        columns: 2;
        column-gap: 3em;
        padding: 0;
    }

    ul.ul-styles {
        width: 100%;
        padding: 0;
    }
    
    .woo-items-count a span {
        top: 14px;
    }
    
}

@media (max-width: 414px) {
    header nav ul.main-menu {
        height: 54px;
        line-height: 54px;
    }
    header nav ul.main-menu li {
        margin-left: 2px;
        margin-right: 2px;
    }
    
    header nav ul.main-menu li:first-child {
        display: none;
    }
    
    header nav ul.main-menu li a {
        letter-spacing: 0;
    }
}



@import "grid.less";
@import "plugins.less";
@import "pages.less";
@import "shop.less";
@import "blog.less";