/*! Variables */
// ==========================================================================

// https://coolors.co/da291c-1d171a-4a3b3a-beafae-f0ecec

@red: rgba(218, 41, 28, 1); // #DA291C
@black: rgba(29, 23, 26, 1); // #1D171A
@greydark: rgba(74, 59, 58, 1); // #4A3B3A
@greylight: rgba(190, 175, 174, 1); // #BEAFAE
@whitegrey: rgba(240, 236, 236, 1); // #F0ECEC

@white: rgba(255, 255, 255, 1); // #FFFFFF